.about-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-container {
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 100px;
    display: flex;
    justify-content: left;
}

.resume-container img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 50px;
    margin-right: 50px;
}

.about-paragraph h1 {
    padding-bottom: 50px;
}

.about-paragraph h2:nth-child(1) {
    padding-bottom: 50px;
}

.about-paragraph h2:nth-child(2) {
    padding-bottom: 50px;
}

.about-paragraph h2:nth-child(3) {
    padding-bottom: 50px;
}