.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.about-page h1,
.about-page h2 {
    text-align: left;
    max-width: 800px;
    width: 100%;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}