.social-bar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3.7rem;
    height: auto;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.social-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

.social-item {
    height: 3.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.social-item a {
    color: #ffb13a;
    display: flex;
    align-items: center;
    height: 100%;
    width: 3.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0 0.6rem 0.6rem 0;
    border: 1px solid rgb(58, 58, 58);
    transition: width 0.5s ease;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.6);
}

.social-item a {
    background: radial-gradient(circle at 30% 30%, #3d3d3d, #1a1a1a);
}

.social-item a i {
    font-size: 1.6rem;
    margin-right: 1rem;
}

.social-item a span {
    display: inline-block;
    font-family: starjedi, serif;
    letter-spacing: 0.06rem;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-top: 0.1rem;
    margin-left: 0.4rem;
    white-space: nowrap;
    transform: translateX(-1.25rem);
    overflow: hidden;
}

.social-item a:hover {
    width: 19rem;
}

.social-item a:hover span {
    opacity: 1;
    transform: translateX(0);
}