.social-bar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: auto;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.social-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

.social-item {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.social-item a {
    color: #ffb13a;
    display: flex;
    align-items: center;
    height: 100%;
    width: 60px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0 20px 20px 0;
    border: 1px solid rgb(58, 58, 58);
    transition: width 0.5s ease, padding-left 0.5s ease, box-shadow 0.5s ease;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.social-item:first-child a {
    background: radial-gradient(circle at 30% 30%, #3d3d3d, #1a1a1a);
}

.social-item:nth-child(2) a {
    background: radial-gradient(circle at 30% 30%, #3d3d3d, #1a1a1a);
}

.social-item:nth-child(3) a {
    background: radial-gradient(circle at 30% 30%, #3d3d3d, #1a1a1a);
}

.social-item:nth-child(4) a {
    background: radial-gradient(circle at 30% 30%, #3d3d3d, #1a1a1a);
}

.social-item a i {
    font-size: 27px;
    margin-right: 15px;
}

.social-item a span {
    display: inline-block;
    font-family: starjedi, serif;
    letter-spacing: 1px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-top: 2px;
    margin-left: 6px;
    white-space: nowrap;
    transform: translateX(-20px);
    overflow: hidden;
}

.social-item a:hover {
    width: 300px;
}

.social-item a:hover span {
    opacity: 1;
    transform: translateX(0);
}

@keyframes revealText {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .social-bar {
        width: 50px;
    }

    .social-item a {
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .social-item a i {
        font-size: 22px;
    }

    .social-item a span {
        font-size: 0.9rem;
        margin-left: 4px;
    }
}

@media (max-width: 480px) {
    .social-bar {
        width: 30px;
    }

    .social-item a {
        width: 30px;
        padding-left: 3px;
        padding-right: 8px;
    }

    .social-item a i {
        font-size: 18px;
    }

    .social-item a span {
        font-size: 0.8rem;
        margin-left: 2px;
    }
}