.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: black;
    margin-bottom: 2em;
    color: white;
}