/* Apply Handjet font to navbar */
.navbar-center .nav-links a {
    font-family: 'Handjet', cursive;
    font-size: 30px;
    font-weight: bold;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Navbar links container */
.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 20px;
    padding: 10px 10px;
    background-color: rgba(22, 27, 73, 0.49);
    border-radius: 50px;
    outline: 2px solid white;
}

/* Navbar link styling */
.navbar-center .nav-links a {
    color: gray;
    text-decoration: none;
    padding: 10px 50px;
    display: block;
    position: relative;
    overflow: hidden;
    line-height: 1.5;
}

/* Navbar changes color after hover */
.navbar-center .nav-links a:hover {
    color: white;
    border-radius: 15px;
    transition: .75s;
}