#blog {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: starjedi, serif;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title-holder {
    text-align: center;
    margin-bottom: 20px;
}

.title-holder h1 {
    color: #ffb13a;
    font-size: 4rem;
    font-family: starjhol, serif;
}

.title-holder .subtitle {
    color: #ffb13a;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 50px;
    max-width: 1400px;
    width: 100%;
    align-items: start;
    margin: 0 auto 50px;
}

.card {
    border: 1px solid rgb(58, 58, 58);
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
    background: radial-gradient(circle at 30% 30%, #3d3d3d, #1a1a1a);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.card-img-top {
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin-bottom: -10px;
}

.card-img-bottom {
    height: 40px;
    width: 70px;
    padding: 0 15px;
    margin-bottom: -15px;
}

.card-body {
    padding: 20px;
    color: #ffb13a;
}

.card-body .card-title,
.card-body .card-text {
    letter-spacing: 1px;
}

.card-body .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-body .card-text {
    font-size: 0.75rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

.card-body .btn {
    background-color: #ffb13a;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}

.card-body .btn i {
    margin-left: 5px;
}