.skills-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffb13a;
    padding: 0 2vw;
    transform: translateY(-2.5rem);
}

.skills-category, .tools-category {
    text-align: center;
    max-width: 60rem;
    width: 100%;
    padding: 0 1.25rem;
}

.skills-category h1 {
    font-size: 5vw;
    font-family: starjhol, serif;
}

.skills-category h2, .tools-category h2 {
    font-size: 2vw;
    font-family: starjedi, serif;
    letter-spacing: 0.1rem;
    padding: 0.6rem 0 2.5rem;
}

.tools-category h2 {
    padding-top: 2.5rem;
}

.skills-list, .tools-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.floating-icon {
    width: 5.5vw;
    height: 5.5vw;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 10%;
    background: radial-gradient(circle at 30% 30%, #3d3d3d, #1a1a1a);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.icon {
    width: 4vw;
    height: 4vw;
    object-fit: contain;
}

.floating-icon:hover {
    box-shadow: 0 0 1.25rem rgba(255, 255, 255, 0.8);
    transform: translateY(-1.25rem);
    background: radial-gradient(circle at 30% 30%, #4d4d4d, #2a2a2a);
}