.skills-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.skills-category, .tools-category {
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.skills-category h1, .skills-category h2, .tools-category h2 {
    text-align: left;
    margin: 0 auto;
}

.skills-category h1 {
    font-size: 4rem;
}

.skills-category h2 {
    font-size: 2rem;
    padding-bottom: 40px;
    padding-top: 10px;
}

.tools-category h2 {
    font-size: 2rem;
    padding-bottom: 40px;
    padding-top: 40px;
}

.skills-list, .tools-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.floating-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: radial-gradient(circle at 30% 30%, #b0b0b0, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), inset 0 -5px 10px rgba(0, 0, 0, 0.2), 0 15px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.icon {
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.floating-circle:hover {
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.4), inset 0 -10px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
    background: radial-gradient(circle at 30% 30%, #a0a0a0, #efefef);
}