* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

.navbar {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    z-index: 10;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 20px;
    padding: 10px 10px;
    border-radius: 50px;
    outline: 2px solid #00ffff;
    background-color: white;
}

.navbar-center .nav-links li {
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 50px;
    display: block;
    position: relative;
    overflow: hidden;
    line-height: 1.5;
    cursor: pointer;
}

.navbar-center .nav-links li:hover {
    color: gray;
    border-radius: 15px;
    transition: .75s;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    color: white;
}

.intro-name {
    font-size: 50px;
    font-weight: bold;
}

.intro-sentence {
    font-size: 24px;
    font-weight: normal;
}

.about {
    height: 100vh;
    background-color: black;
}

.projects {
    height: 100vh;
    background-color: black;
}

.skills {
    height: 100vh;
    background-color: black;
}

.contact {
    height: 100vh;
    background-color: black;
}

/* scroll to top button */
.top-btn-position {
    position: fixed;
    bottom: 15px;
    right: 20px;
}

.top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.top-btn-style:hover {
    animation: none;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
}