@font-face {
    font-family: "starjedi";
    src: local("Starjedi"), url("./components/fonts/Starjedi.ttf") format("truetype");
}

@font-face {
    font-family: "starjhol";
    src: local("Starjhol"), url("./components/fonts/Starjhol.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    touch-action: auto;
}

#particles canvas{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}

.navbar {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: "starjedi", serif;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-links li {
    color: #ffb13a;
    font-size: 1.5vw;
    letter-spacing: 0.15vw;
    cursor: pointer;
    padding: 0 5vw;
    margin-top: 1rem;
    transition: 0.3s ease-in-out;
}

.nav-links li:hover {
    transform: translateY(-0.5rem);
}

.intro-page {
    color: #ffb13a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 10vw;
}

.intro-page h1 {
    font-size: 5vw;
    letter-spacing: 0.10vw;
    font-family: "starjhol", serif;
    margin-top: -10rem;
}

.intro-page h2 {
    font-size: 2vw;
    font-family: "starjedi", serif;
    letter-spacing: 0.10vw;
}

section {
    padding: 1rem;
}

.top-btn-position {
    position: fixed;
    bottom: 10px;
    left: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #ffb13a;
    cursor: pointer;
    transition: ease 1s;
}

.show-btn {
    opacity: 1;
}