@font-face {
    font-family: "starjedi";
    src: local("Starjedi"), url("./components/fonts/Starjedi.ttf") format("truetype");
}

@font-face {
    font-family: "starjhol";
    src: local("Starjhol"), url("./components/fonts/Starjhol.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
}

#particles canvas{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}

.navbar {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    font-family: "starjedi", serif;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-links li {
    color: #F7E6A5;
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 0 50px;
    transition: 0.3s ease-in-out;
}

.nav-links li:hover {
    text-shadow: 0 0 10px #F7E6A5;
    transition: 0.3s ease-in-out;

}

.intro-page {
    color: #F7E6A5;
    font-family: "starjhol", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro-page h1 {
    font-size: 10rem;
}

.intro-page h2 {
    font-size: 2rem;
    letter-spacing: .2rem;
}

section {
    height: 100vh;
}

.top-btn-position {
    position: fixed;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: ease 1s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.show-btn {
    opacity: 1;
}

.top-btn-style:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: ease 1s;
}